/* ==UserStyle==
@name           monkeytype botanical
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    botanical theme for monkeytype
@author         refact0r
@homepageURL    https://github.com/refact0r/monkeytype-themes
@updateURL      https://github.com/refact0r/monkeytype-themes/raw/main/botanical.user.css
==/UserStyle== */
@-moz-document domain("monkeytype.com") {
    /* theme colors */
    * {
        --bg-color: #0b1e1a;
        --main-color: hsl(174, 30%, 58%);
        --caret-color: hsl(174, 30%, 58%);
        --sub-color: hsl(169, 30%, 34%);
        --text-color: #E9F0F3;
        --error-color: #bf616a;
        --error-extra-color: #793e44;
        --colorful-error-color: #bf616a;
        --colorful-error-extra-color: #793e44;
    }
    
    /* background and effects */
    body {
        background-image: url("https://wallpaperaccess.com/full/3703256.jpg") !important;
		background-size: cover;
        background-position: center !important;
        background-repeat: no-repeat;
		overflow: hidden;
        text-shadow: 1px 1px 3px #00000050 !important;
    }
    .customBackground {
        transition: backdrop-filter 1s ease !important;
        backdrop-filter: brightness(0.6) saturate(0.7) blur(0px);
    }
    body[style*="cursor: none"] .customBackground {
        backdrop-filter:  brightness(0.4) saturate(0.7) blur(5px);
    }
    
    /* change logo text */
    #top .logo .text .top:after {
        content: 'monkeytype' !important;
    }
    #top .logo .text:after {
        content: 'botanical' !important;
    }
}
