/* ==UserStyle==
@name           monkeytype dracula
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    dracula theme for monkeytype
@author         refact0r
@homepageURL    https://github.com/refact0r/monkeytype-themes
@updateURL      https://github.com/refact0r/monkeytype-themes/raw/main/dracula.user.css
==/UserStyle== */
@-moz-document domain("monkeytype.com") {

    /* theme colors */
    * {
        --bg-color: #282a36;
        --main-color: #f2f2f2;
        --caret-color: #f2f2f2;
        --sub-color: #bd93f9;
        --sub-alt-color: #20222c;
        --text-color: #f2f2f2;
        --error-color: #f758a0;
        --error-extra-color: #732e51;
        --colorful-error-color: #f758a0;
        --colorful-error-extra-color: #732e51;
    }

    /* change logo text */
    #top .logo .text {
        visibility: hidden;
    }

    #top .logo .text .top:after {
        content: 'monkeytype' !important;
        visibility: visible;
        display: block;
        position: relative;
        margin-top: -.7rem;
        margin-left: -.15rem;
    }

    #top .logo .text:after {
        content: 'dracula' !important;
        visibility: visible;
        display: block;
        position: relative;
        margin-top: -2rem;
    }

    #top {
        margin-top: 60px;
    }

    .logo .icon {
        visibility: hidden;
        width: 160px !important;
    }

    .logo .icon svg {
        display: none;
    }

    .logo .icon::after {
        visibility: visible;
        content: "";
        position: absolute;
        left: 2rem;
        width: 200px;
        height: 200px;
        background: url("https://i.imgur.com/RtYB4Us.png");
        background-size: cover;
    }
}