/* ==UserStyle==
@name           monkeytype gruvbox dark
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Gruvbox Dark theme for monkeytype
@author         refact0r
@homepageURL    https://github.com/refact0r/monkeytype-themes
@updateURL      https://github.com/refact0r/monkeytype-themes/raw/main/gruvboxdark.user.css
==/UserStyle== */
@-moz-document domain("monkeytype.com") {

    /* theme colors */
    * {
        --bg-color: #1d2021;
        --main-color: #d79921;
        --caret-color: #fabd2f;
        --sub-color: #665c54;
        --sub-alt-color: #282828;
        --text-color: #ebdbb2;
        --error-color: #fb4934;
        --error-extra-color: #cc241d;
        --colorful-error-color: #cc241d;
        --colorful-error-extra-color: #9d0006;
    }

    /* background and effects */
    .customBackground {
        background-image: url("https://lh3.google.com/u/0/d/1AGXTefpU86h70kMa2h1DE_3RVX6znM_f=w3840-h1960-iv1") !important;
        background-size: cover;
        background-position: center !important;
        background-repeat: no-repeat;
        transition: filter 1s ease !important;
        filter: blur(0px) brightness(0.8);
    }

    body[style*="cursor: none"] .customBackground {
        filter: blur(0px) brightness(0.8);
    }

    /* change logo text */
    #top .logo .text {
        visibility: hidden;
    }

    #top .logo .text .top:after {
        content: 'monkeytype' !important;
        visibility: visible;
        display: block;
        position: relative;
        margin-top: -.7rem;
        margin-left: -.15rem;
    }

    #top .logo .text:after {
        content: 'gruvbox' !important;
        visibility: visible;
        display: block;
        position: relative;
        margin-top: -2rem;
    }

    /* change menu icon colors */
    .view-start {
        color: #FB4934;
    }

    .view-leaderboards {
        color: #FABD2F;
    }

    .view-about {
        color: #B8BB26;
    }

    .view-settings {
        color: #83A598;
    }

    .view-account {
        color: #D3869B;
    }

    #menu>*:hover {
        color: var(--text-color) !important;
    }
}