/* ==UserStyle==
@name           monkeytype nord
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    nord theme for monkeytype
@author         refact0r
@homepageURL    https://github.com/refact0r/monkeytype-themes
@updateURL      https://github.com/refact0r/monkeytype-themes/raw/main/nord.user.css
==/UserStyle== */
@-moz-document domain("monkeytype.com") {
    /* theme colors */
    * {
        --bg-color: #242933;
        --main-color: #d8dee9;
        --caret-color: #81a1c1;
        --sub-color: #81a1c1;
        --text-color: #d8dee9;
        --error-color: #bf616a;
        --error-extra-color: #793e44;
        --colorful-error-color: #bf616a;
        --colorful-error-extra-color: #793e44;
        text-shadow: 1px 1px 3px #00000050 !important;
    }
    
    /* background and effects */
    body {
        background-image: url("https://i.imgur.com/ZE9ZvL4.png") !important;
        background-image: url("https://regolith-linux.org/images/releases/nord-dark.png") !important;
		background-size: cover;
        background-position: center !important;
        background-repeat: no-repeat;
		overflow: hidden;
    }
    .customBackground {
        transition: backdrop-filter 1s ease !important;
        backdrop-filter: blur(0px) brightness(0.8);
    }
    body[style*="cursor: none"] .customBackground {
        backdrop-filter: blur(0px) brightness(0.6);
    }
    
    /* change logo text */
    #top .logo .text .top:after {
        content: 'monkeytype' !important;
    }
    #top .logo .text:after {
        content: 'nord' !important;
    }
    
    /* change menu icon colors */
    .view-start {
        color: #BF616A;
    }
    .view-leaderboards {
        color: #D08770;
    }
    .view-about {
        color: #EBCB8B;
    }
    .view-settings {
        color: #A3BE8C;
    }
    .view-account {
        color: #8FBCBB;
    }
    #menu > *:hover {
        color: var(--text-color) !important;
    }
}
